########################
# まずは全フォルダを除外
*/

##########################
# 続いて必要なものだけ追加

######
# 全般
# ツールバー等
!Office/

##
# アドイン (エクセルとパワーポイント)
!AddIns/

########
# ワード

##
# テンプレート．一応共通だが，Wordは実質上ここがメインなので，ここに．
!Templates

##
# Wordのバックアップ用フォルダ．STARTUPを追加するために追加
!Word/

##
# ワードの添付テンプレート (実質上アドイン)
!Word/STARTUP/

##########
# エクセル

##
# XLSTART追加用＋Personal.xlsの作業用コピー等
!Excel/

##
# Personal.xlsなど．
!Excel/XLSTART/

################
# パワーポイント

##
# ツールバー設定
!PowerPoint/


##################################################
## Ariawaseによるマクロコードの管理

##
# まずは Ariawase本体 （外部参照用)
!Ariawase/

##
# 展開したファイル群
!src
!src/**

##
# binは二重になるので登録しない．


######################################
# マクロの記録の結果は保存対象としない

##
# Word
src/*.dot/NewMacros.bas

##################################################
# 個別フォルダ内の一時ファイル等をさらに個別で除外
~*
*.tmp

########################################
# ローカルの設定を保存するファイルを除外
PowerPoint/PPT11.pcb
Office/*.pip
Office/*.acl

# ツールバーの情報があるので管理していたが，
# Addin化すれば管理しなくてよいことが判明したため


#########################
# 以降はGUI等からの追加分
